$brand-primary: #4c98c9;

$text-color: #171717;
$link-color: $brand-primary;
$body-bg: #f6f6f6;

$font-family-sans-serif: 'Open Sans', sans-serif;

$image-path: "../img/";

$border-radius: 0;

$btn-border-radius: 0;
$btn-default-color: #fff;
$btn-default-bg: $brand-primary;
$btn-default-border: $brand-primary;
$btn-focus-box-shadow: none;
$btn-active-box-shadow: none;

$input-border-radius: 0x;

$pagination-color: $text-color;

$comments-tree-padding: 56px;
$comments-tree-color: #000;